html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 80px;
}

.jumbotron {
  background-image: url("/images/food-bg-image.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 700px;
  background-color: #E9EEF1;
}

.bt-margin {
  padding-bottom: 60px !important;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

#tag-box {
  float: right;
}

.tags {
  margin-left: 5px;
  color: #fff;
  background-color: #17a2b8;
  display: inline-block;
  padding: .45em .4em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  text-decoration: none;
}

.tags:hover {
  color: white;
}


#posts-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 3rem 0;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 10px;
  font-family: sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}